.wrapper {
    display: flex;
    justify-content: center;
}

.inputForm {
    display:flex;
    flex-direction: column;
    width: 30%;
    row-gap: 5px;
    margin: 10px;
    padding: 20px;
    background-color: #424242;

}

.inputHeader {
    text-align: center;

}

.inputFooter{
    margin:auto;

}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }

  .add-btn {
    color: #424242;
    background-color: #95B0C6;
    padding: 15px;
    border-radius: 20px;
    font-size: large;
    cursor: pointer;
  }